<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <script src="../base/vue.js"></script>
   <style>
      *{
         margin: 0;
         padding: 0;
      }
      li{
         list-style: none;
      }
      .red{
         background: red;
      }
      .blue{
         background: skyblue;
      }
   </style>
</head>
<body>
   <div id='app'>
      <input type="text" v-model='input'>
      <button @click='add'>add</button>
      <ul>
         <li v-for='item,index in list' :class='item.state?"blue":"red"'> {{item.msg}}
            <button @click='del(index)'>del</button>
            <span v-if='item.state'>已完成</span>
            <button v-else @click='finish(index)'>完成</button>
         </li>
      </ul>
      {{list}}
   </div>
   <script>
      new Vue({
         el: '#app',
         data: {
            input: '',
            list: [{ msg: '决战到天明', state: true },
            { msg: '明天继续', state: false }]
         },
         methods: {
            add() {
               this.list.push({ msg: this.input, state: false })
            },
            del(index) {
               console.log(index)
               this.list.splice(index, 1)
            },
            finish(index) {
               this.list[index]['state'] = true
            }
         },

      })
   </script>
</body>
</html>